{% extends 'base.html' %}


{% block content %}

<h1>Blog Home</h1>

<form method='GET' action=''>{% csrf_token %}
    Search Blog: <input name='src' type='text' placeholder="Search" value=''>
</form>

<center>
    <table>
        <tr>
            <th>ID</th> <th id='title'>Title</th><th>content</th><th>Author</th>
        </tr>
        {% for items in queryset %}
        
        <tr>
            <td>
                {{ items.id }}
            </td>

            <td>
                {{ items.title }} 
            </td>

            <td>
                {{ items.content }}
            </td>

            <td>
                {{ items.author }}
            </td>
        </tr>
        {% endfor %}
    </table>
</center>

{% endblock content %}